*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif,sans-serif;
}

body{
    background-image: url(gea2.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
#header{
    color: #c8cea6;
    background-color: rgba(0, 31, 33, 0.4);
    background-blend-mode: color-burn;
    
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    box-sizing: border-box;
    height: 165px;
    
}
header nav{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    margin-top: 25px;
    
}
header h1{
    margin: 0;
    padding: 0;
    position: relative;
    left: 15px;
    font-style: italic;
    font-size: 50px;
    
}
header h2{
    margin: 0;
    margin-top: 15px;
    padding: 0;
    position: relative;
    left: 15px;
    font-style: italic;
    font-weight: lighter;
}

.menu ul{
    display: flex;
    justify-content: center;
    
    list-style: none;
    margin: 0;
    padding: auto
    ;
}
a:link,
a:visited,
a:hover,
a:active{
    color: #c8cea6;
    text-decoration: none;
}

ul li{
    margin: 0 20px;
    font-size: 1.2em;
    
    
    outline-style: none;
    outline-width: 2px;
    
    width: 120px;
    height: 20px;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    
    

}

ul li:hover{
    background-color: rgba(255,255,255,0.1);
    outline-color: #0f3f26;
    outline-style: solid;
}

#frameTransparent {
  background-color: rgba(255, 255, 255, 0.5);
  width: 90%;             
  max-width: 1400px;      
  min-height: 600px;     
  margin: 50px auto;
  border-radius: 45px;
  padding: 40px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr; 
  gap: 30px;
}

#description {
  text-align: center;
  color: black;
  font-size: 2rem;
  width: 100%;
}

#photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  width: 100%; 
  
}

img {
  width: 100%;
  height: 300px;      
  object-fit: cover;  
  border-radius: 20px;
  border-style: none;
  border-color: #0f3f26;

}
img:hover{
    border-style: solid;
}