*{
    font-family: arial,sans-serif;
}

body{
    background-image: url(gea2.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}
#header{
    color: #c8cea6;
    background-color: rgba(0, 31, 33, 0.4);
    background-blend-mode: color-burn;
    
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    box-sizing: border-box;
    height: 150px;
    
}
header nav{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 25px;
    
}
header h1{
    margin: 0;
    padding: 0;
    font-style: italic;
    font-size: 50px;
    
}
header h2{
    margin: 0;
    margin-top: 15px;
    padding: 0;
    font-style: italic;
    font-weight: lighter;
}

.menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
a:link,
a:visited,
a:hover,
a:active{
    color: #c8cea6;
    text-decoration: none;
}

ul li{
    margin: 0 20px;
    font-size: 1.2em;
    
    outline-style: none;
    outline-width: 2px;
    
    width: 90px;
    height: 20px;
    text-align: center;
    border-radius: 3px;
    
    

}
ul li:hover{
    background-color: rgba(255,255,255,0.1);
    outline-color: #0f3f26;
    outline-style: solid;
}